html,
body,
#root,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

header {
	height: 5em;
	line-height: 5em;
	text-align: center;
	background: pink;
	color: #fff;
	border-bottom: 1px solid #fff;
}

#search {
	background-color: white;
	cursor: text;
	width: 100%;
	box-sizing: border-box;
	border: 0;
	height: 3em;
	padding: 0 .5em;
}

.element-box {
	margin-top: .5em;
}

.element {
	padding: 0.2em .5em;
	color: #fff;
	height: 2em;
	line-height: 2em;
}

.element:hover {
	background-color: #fff;
	color: pink;
	cursor: pointer;
}

#map {
	position: relative;
	width: 100%;
	height: 100%;
}

.maps {
	position: absolute;
	top: calc(5em + 1px);
	width: calc( 100% - 20em);
	left: 20em;
	right: 0;
	bottom: 0;
}

#locations-list {
	position: absolute;
	z-index: 1;
	top: calc(5em + 1px);
	left: 0;
	bottom: 0;
	width: 20em;
	background-color: pink;
}

#foursquare-error {
	color: red;
}

@media screen and (max-width: 400px) {
	#locations-list {
		width: 100%;
		position: relative;
		margin: 0;
		top: 0;
		border-radius: 0;
	}
	.maps {
		position: relative;
		top: 0;
		width: 100%;
		left: 0;
		height: 100vh;
		bottom: 0;
	}
}